#hero .container {
  margin-top: 6.625rem;
  margin-bottom: 6.625rem;
}

#hero section h1 {
  font-family: 'Doctor Glitch', sans-serif;
  font-size: 5.4rem;
  margin-bottom: 0.8rem;
  line-height: 1.2;
  color: #444F5A;
}

#hero section p {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  color: #444F5A
}

#hero section p span {
  color: #0564BD;
}

#hero section .social-links {
  width: 50%;
  min-width: 200px;
  text-align: center;
}

#hero section .social-links a {
  text-decoration: none;
}

#hero section .social-links a i {
  font-size: 3rem;
  transition: 0.4s all ease-in-out;
  color: #444F5A;
}

#hero section .social-links a i:hover {
  color: #0564BD;
}

#hero section .social-links a svg {
  width: 3rem;
  height: 3rem;
  margin-top: 1.3rem;
  fill: #444F5A;
  transition: 0.4s all ease-in-out;
}

#hero section .social-links a svg:hover {
  fill: #0564BD;
}

#hero .img-container {
  overflow: hidden;
  min-width: 16rem;
  width: 100%;
  aspect-ratio: 1;
  position: relative;
  margin-left: 5rem;
  margin-right: auto;
  max-width: 35.5rem;
}

#hero .img-container #canvas {
  width: 100%;
  height: 100%;
}

#hero .img-container canvas {
  width: 100%;
  height: 100%;
  border-radius: 39% 61% 71% 29% / 38% 29% 71% 62%;
}

#hero .img-container .curtain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#hero .img-container .curtain img {
  display: none;
}

#hero .img-container .no-curtains .curtain {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .img-container .no-curtains .curtain img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 721px) and (max-width: 1366px) {
  #hero .container {
    height: 31.938rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
  #hero section {
    margin-left: 3rem;
    margin-top: 2rem;
  }
  #hero section h1 {
    font-size: 4rem;
  }
  #hero section p {
    font-size: 1.8rem;
  }
  #hero .img-container {
    width: 80%;
    margin-top: 2.313rem;
  }
}

@media screen and (min-width: 571px) and (max-width: 720px) {
  #hero {
    margin-top: -5.5rem;
  }
  #hero section h1 {
    font-size: 4rem;
  }
  #hero section p {
    font-size: 1.8rem;
  }  
  #hero section .social-links {
    width: 100%;
    height: 4.5rem;
    margin-top: -1rem;
  }  
  #hero section .social-links a svg {
    margin-top: 1.3rem;
  }
  #hero .img-container {
    width: 80%;
    margin-top: 2rem;
    margin-left: 10%;
  }
  #hero .img-container #canvas {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 361px) and (max-width: 570px) {
  #hero {
    margin-top: -5.5rem;
  }
  #hero section {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  #hero section h1 {
    font-size: 2.5rem;
  }
  #hero section p {
    font-size: 1.2rem;
  }
  #hero section .social-links {
    width: 100%;
    height: 4rem;
    margin-top: -1rem;
  }
  #hero section .social-links a i {
    font-size: 2.5rem;
  }
  #hero section .social-links a svg {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 1rem;
  }
  #hero .img-container {
    margin-top: 1.281rem;
    width: 70%;
    margin-left: 15%;
  }
  #hero .img-container #canvas {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 321px) and (max-width: 360px) {
  #hero {
    margin-bottom: 0rem;
  }
  #hero .container {
    display: grid;
    justify-content: center;
    height: 34rem;
    margin-top: 0rem;
  }
  #hero section h1 {
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
  }
  #hero #headline {
    font-size: 1rem;
  }
  #hero section .social-links {
    margin-top: -1rem;
    width: 80%;
  }
  #hero section .social-links a i {
    font-size: 2.2rem;
  }
  #hero section .social-links a svg {
    width: 2.2rem;
    height: 2.2rem;
    margin-top: 0.8rem;
  }
  #hero .img-container {
    width: 80%;
    margin-left: 9.75vw;
  }
  #hero .img-container #canvas {
    width: 100%;
    height: 100%;
  }
  #hero section p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 320px) {
  #hero {
    margin-bottom: -9.4rem;
  }
  #hero .container {
    display: grid;
    justify-content: center;
    height: 34rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
  #hero section h1 {
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
  }
  #hero #headline {
    font-size: 1rem;
  }
  #hero section .social-links {
    margin-top: -1rem;
    width: 80%;
  }
  #hero section .social-links a i {
    font-size: 2.2rem;
  }
  #hero section .social-links a svg {
    width: 2.2rem;
    height: 2.2rem;
    margin-top: 0.8rem;
  }
  #hero .img-container {
    width: 80%;
    margin-left: 9.75vw;
  }
  #hero .img-container #canvas {
    width: 100%;
    height: 100%;
  }
  #hero section p {
    font-size: 1.2rem;
  }
}