#footer {
  background-color: #103F79;
  padding: 2.5rem 0;
}

#footer .row {
  display: flex;
  flex-direction: column;
}

#footer .row div:first-child {
  color: #F3B229;
  text-align: center;
  font-size: 1.1rem;
  font-family: 'Raleway', sans-serif;
  order: 2;
  margin-top: 0.7rem;
}

#footer .row div:first-child .heart {
  height: 1.1rem;
  width: 1.2rem;
  margin-bottom: 0.2rem;
}

#footer .row div:first-child .chimp {
  height: 2.5rem;
  width: 2.5rem;
  margin-bottom: 0.4rem;
  margin-left: 0.1rem;
}

#footer .row div:first-child .author {
  position: relative;
  font-weight: 700;
}

#footer .row div:last-child {
  margin-top: 2rem;
  text-align: right;
  font-size: 2rem;
  order: 1;
}

#footer .row div:last-child a {
  color: #F3B229;
  transition: 0.4s all ease-in-out;
}

#footer .row div:last-child svg path {
  fill: #F3B229;
  transition: 0.4s all ease-in-out;
}

#footer .row div:last-child a:hover {
  color: #FFFFFF;
}

#footer .row div:last-child svg:hover path {
  fill: #FFFFFF;
}

#footer .row div:last-child a:nth-child(2),
#footer .row div:last-child svg path:nth-child(2) {
  margin-left: 2rem;
  margin-right: 2rem;
}

@media screen and (min-width: 992px) {
  #footer .row {
    flex-direction: row;
  }

  #footer .row div:first-child {
    text-align: left;
    order: 1;
    margin-bottom: 0;
  }

  #footer .row div:last-child {
    text-align: right;
    margin-top: 0;
    order: 2;
  }
}

@media screen and (max-width: 768px) {
  #footer .row div:first-child {
    font-size: 0.9rem;
  }
}